# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [3]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [5]:
# Your code here
df['stars_squared'] = df['stars'].apply(lambda x: x**2)

In [6]:
# display thr first two rows
print(df.head(2))

              business_id  cool        date  funny               review_id  \
1  pomGBqfbxcqPv14c3XH-ZQ     0  2012-11-13      0  dDl8zu1vWPdKGihJrwQbpw
2  jtQARsP6P-LbkyjbO1qNGg     1  2014-10-23      1  LZp4UX5zK3e-c5ZGSeo3kA

   stars                                               text  useful  \
1      5  I love this place! My fiance And I go here atl...       0
2      1  Terrible. Dry corn bread. Rib tips were all fa...       3

                  user_id  stars_squared
1  msQe1u7Z_XuqjGoqhB0J5g             25
2  msQe1u7Z_XuqjGoqhB0J5g              1

## Dates
Select the month from the date string using a lambda function.

In [8]:
# Your code here
from datetime import datetime
date_string = "2012-11-13"
month = lambda date_string: datetime.strptime(date_string, "%Y-%m-%d").month #extract the month from the date string

In [9]:
month_value = month(date_string) # call the lambda function withthe date string as an arguments

In [10]:
print(month_value) # print the month value

11

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [12]:
# load the reviews
import pandas as pd
reviews = pd.read_csv('yelp_reviews.csv')

In [13]:
# Your code heRE
reviews['word_count'] = reviews['text'].apply(lambda x: len(x.split()))# calculate number of words for each review

In [14]:
average_word_count = reviews['word_count'].mean()

In [15]:
print("The average number of words for a Yelp review is:", average_word_count)

The average number of words for a Yelp review is: 77.06551724137931

## Create a new column for the number of words in the review

In [17]:
# Your code here
import pandas as pd
reviews = pd.read_csv('yelp_reviews.csv')
reviews['word_count'] = reviews['text'].apply(lambda x: len(x.split())) # the new column creation
print(reviews.head())

   Unnamed: 0             business_id  cool        date  funny  \
0           1  pomGBqfbxcqPv14c3XH-ZQ     0  2012-11-13      0
1           2  jtQARsP6P-LbkyjbO1qNGg     1  2014-10-23      1
2           4  Ums3gaP2qM3W1XcA5r6SsQ     0  2014-09-05      0
3           5  vgfcTvK81oD4r50NMjU2Ag     0  2011-02-25      0
4          10  yFumR3CWzpfvTH2FCthvVw     0  2016-06-15      0

                review_id  stars  \
0  dDl8zu1vWPdKGihJrwQbpw      5
1  LZp4UX5zK3e-c5ZGSeo3kA      1
2  jsDu6QEJHbwP2Blom1PLCA      5
3  pfavA0hr3nyqO61oupj-lA      1
4  STiFMww2z31siPY7BWNC2g      5

                                                text  useful  \
0  I love this place! My fiance And I go here atl...       0
1  Terrible. Dry corn bread. Rib tips were all fa...       3
2  Delicious healthy food. The steak is amazing. ...       0
3  This place sucks. The customer service is horr...       2
4  I have been an Emerald Club member for a numbe...       0

                  user_id  word_count
0  msQe1u7Z_XuqjGoqhB0J5g          58
1  msQe1u7Z_XuqjGoqhB0J5g          30
2  msQe1u7Z_XuqjGoqhB0J5g          30
3  msQe1u7Z_XuqjGoqhB0J5g          82
4  TlvV-xJhmh7LCwJYXkV-cg          32

In [18]:
#review columns
print(reviews.columns)

Index(['Unnamed: 0', 'business_id', 'cool', 'date', 'funny', 'review_id',
       'stars', 'text', 'useful', 'user_id', 'word_count'],
      dtype='object')

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [20]:
# Rewrite the following function as a lambda function

def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['text'].map(lambda x: 'Short' if len(x.split()) < 50 else 'Medium' if len(x.split()) < 80 else 'Long')
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,Medium
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,Short
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,Short
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,Long
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,Short

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [41]:
# Your code here
df['date'].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [43]:
# Your code here
df['date'] = df['date'].map(lambda x: f'{x[8:10]}-{x[5:7]}-{x[:4]}')
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,13-11-2012,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,Medium
2,jtQARsP6P-LbkyjbO1qNGg,1,23-10-2014,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,Short
4,Ums3gaP2qM3W1XcA5r6SsQ,0,05-09-2014,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,Short
5,vgfcTvK81oD4r50NMjU2Ag,0,25-02-2011,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,Long
10,yFumR3CWzpfvTH2FCthvVw,0,15-06-2016,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,Short

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.